
* {
  list-style: none;
}

ul {
  padding: 0;
}

img {
  width: 340px;
  border: 1px solid #D2D2D2;
  border-radius: 2px;
}

.octodex {
  margin-left: 10px;
}

.octocat {
  display: inline-block;
  margin-right: 10px;
  border-bottom: 1px solid #D2D2D2;
  position: relative;
}

.octocat::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-left: 275px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #cacaca transparent transparent transparent;
  bottom: 34px;
  right: 8px;
}

.image-footer {
  padding: 10px;
}

.image-number {
  float: left;
  display: inline;
  color: #D2D2D2;
  font-weight: bold;
  font-family: sans-serif;
}

.image-number:before {
  content: "#";
  display: inline-block;
}

.image-caption {
  display: inline;
  float: right;
}

.image-caption span {
  color: #6b6763;
  font-family: arial;
  font-weight: bold;
  font-size: 12px;
}
.image-caption a {
  text-decoration: none;
  color: #252526;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.authors {
  float: right;
  padding-left: 5px;
}

.authors img {
  width: 25px;
  border: none;
}

